html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: grey;
    height: 700px;
}

.container {
    background: white;
}

.href {
    color: black;
}

.H3 {
    padding-left: 30px;
    margin-bottom: 30px;
}

#coding {
    width: 370px;
    height: 200px;
    margin-top: -300px;
    
}

#pcoding {
    margin-top: -300px;
    margin-left: 360px;
}

#pcoding2 {
    float: left;
    margin-top: -70px;
    margin-right: 200px;
}

#imgalzer {
    width: 420px;
    height: 400px;
    float: right;
    margin-top: -100px;
}

#navbar {
    background-color: black;
    margin-top: 10px;
}

#h3 {
    padding-left: 20px;
}

#p {
    float: right;
    margin-top: 20px;
    padding-left: 170px;
}