
html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 50px;
}

.jumbotron {
    height: 400px;
    background-image: url(./img/oo.jfif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid white;
    box-shadow: 1px 1px 10px bisque;
}

.jurusan {
    margin-left: 100px;
}

.img {
    margin-left: 150px;
}

.href2 {
    color: black;
}

.href:hover {
    color: blue;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

h1 {
 font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}
.jumbotron{
    background-color: lightslategray;
}

hr {
    width: 250px;
    border-top: 4px solid #333;
}

section {
    min-height: 600px;
}

.row p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.pKiri, .pKanan {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0);
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}


.portfolio {
   background-color: lightslategray;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0,0);
}

.contact {
    min-height: 800px;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;
   background-color: #333;
}

footer p {
    color: #aaa;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 5px;
}

footer a {
    text-shadow: 100px solid white;
    color: aqua;
}